### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
load_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purch_df = pd.read_csv(load_file)

## Player Count

* Display the total number of players

In [3]:
# Find number of unique players
num_players = purch_df[["SN"]].nunique()
# Create new dataframe
player_df = pd.DataFrame({"Total Players":num_players})
# Reset index to get rid of "SN" as the index
player_count = player_df.reset_index(drop=True)
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Pull data for each column
unique_items = purch_df["Item ID"].nunique()
avg_price = round(purch_df["Price"].mean(),2)
num_purch = purch_df["Purchase ID"].count()
total_rev = purch_df["Price"].sum()
# Format avg price & total revenue as currency
avg_price_format = '$ {:,.2f}'.format(avg_price)
total_rev_format = '$ {:,.2f}'.format(total_rev)
# New dataframe to store calculations
summary_df = pd.DataFrame({"Unique Items Purchased": unique_items,"Average Price":[avg_price_format],
                           "Purchase Total": num_purch,"Total Revenue": total_rev_format})
summary_df

   Unique Items Purchased Average Price  Purchase Total Total Revenue
0                     179        $ 3.05             780    $ 2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Pull in SN & Gender to find unique players & their gender
ply_gender = purch_df[["SN","Gender"]]
# Clean data by deleting duplicates
del_duplicates = ply_gender.drop_duplicates(subset="SN")
# Calculate gender individual percentages of total & format as percent
percentOf = round((del_duplicates["Gender"].value_counts()/del_duplicates["Gender"].count())*100.0,2).astype(str)+"%"
# Create dataframe for gender & percentage of total
gender_dem = pd.DataFrame({"Gender":del_duplicates["Gender"].value_counts(),"Percent":percentOf})
gender_dem

                       Gender Percent
Male                      484  84.03%
Female                     81  14.06%
Other / Non-Disclosed      11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purch_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# Why are sub columns bolded?--find answer. Flatten multi index hierarchy
# Created copy of DataFrame
purch_analysis = purch_df[["Gender","Price","SN"]].copy()
# Grouped data by Gender
purch_group = purch_analysis.groupby(["Gender"])
# Calculate new columns using .agg to find count, average, total
price_calc = purch_group[["Gender","Price"]].agg(["count",np.average,np.sum])
# flattened multi-index hierarchy. This is to make column renaming easier later
price_calc.columns = price_calc.columns.get_level_values(1)
# Calculate avg price per person using formula
avg_price_per_person = price_calc.iloc[:,2]/del_duplicates["Gender"].value_counts()
# Create new column for avg price per person values to live
price_calc["Avg Total Purchase per Person"] = avg_price_per_person
# Renamed columns 
purch_analysis_summary = price_calc.rename(columns={"count":"Purchase Count",
                                                   "average":"Average Purchase Price",                           
                                                   "sum":"Total Purchase Value"})
purch_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
# Establishe bins & labels
age_bin = [0,9,14.5,19.5,25.5,29.5,34.5,39.5,50]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [57]:
# use pd.cut to bin values into discrete intervals
purch_df["Age Group"] = pd.cut(purch_df["Age"], age_bin, labels=age_labels)

In [58]:
# Group by new column "Age Group"
age_group = purch_df.groupby(["Age Group"])
# Find ages of players (used unique "SN" to find individual players)
age_group = age_group[["SN"]].nunique()
# Calculate percentage of players per category of age group
age_group["Percentage of Players"] = round((age_group.iloc[:,0]/age_group["SN"].agg(np.sum))*100,2)
# Clean up column names
age_dem_sum = age_group.rename(columns={"SN":"Total Count","Percentage of Players":"Percentage of Players"})
age_dem_sum

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              301                  52.26
25-29               34                   5.90
30-34               52                   9.03
35-39               31                   5.38
>40                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame